form{
    .button{
        text-align: center;
        button {
            background: #ba382f;
            border: none;
        }
    }
}

form{
    .button{
        text-align: center;
        button:hover {
            background: #a73a32;
            border: none;
        }
    }
}

    .button{
        text-align: center;
        button {
            background: #8942A8;
            border: none;
        }
    }

    .button{
        text-align: center;
        button:hover {
            background: #72338e;
            border: none;
        }
    }