.modalDialog {
    position: fixed;
    height: fit-content;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    display: inline-block;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    border-radius: .3rem;
    min-height: 30pc;
    background-color: #fefefe;
    margin: 0% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: black;
}

.close {
    font-size: 28px;
    float: right;
    width: fit-content;
    margin: 0 auto;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .5;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

